__pycache__/
*.py[cod]
.env
.vscode/
.idea/
output/
*.egg-info/
dist/
build/

# Ignore generated outputs
jaipreeth_tiruvaipati/
*.log
samples/*cleaned*/
samples/*clean*/
samples/*output*/
samples/extracted_watermark_template.png
